body, ul{ margin:0;padding:0; }
body{ font-size:12px;background-color:#646464; }
ul{ list-style-type:none; }
canvas{ cursor:default; }
.tools{ }
.tools li{ margin:0 10px;float:left; }
.pencil{ background:url(../images/Pencil.png) no-repeat; }
.Brush{ background:url(../images/Brush.jpg) no-repeat; }
.Eraser{ background:url(../images/Eraser.png) no-repeat; }

.text{ background:url(../images/text.jpg) no-repeat; }
.eraser{ background:url(../images/eraser.jpg) no-repeat; }
.straw{ background:url(../images/straw.jpg) no-repeat; }
.magnifier{ background:url(../images/magnifier.jpg) no-repeat; }

.module{ 
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	background-color:#1C1C1C;
    -moz-box-shadow: 0 5px 10px #1C1C1C;
    -webkit-box-shadow: 0 5px 10px #1C1C1C;
    box-shadow: 0 5px 10px #1C1C1C;
    opacity:0.95;
    filter:alpha(opacity=95);
    color:#fff;
    z-index:10;
    cursor:default;
}
.module>div:nth-child(1){ 
	padding:5px 10px 0 10px;
	height:20px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	background:-moz-linear-gradient(top,#303030,#1C1C1C);
	background:-webkit-gradient(linear,0 0,0 100%,from(#303030),to(1,#1C1C1C));
	font-size:14px;
}
.module>div:nth-child(1)>span{
	font-family:Arial;
	color:#808080;
    font-size:12px;	
    float:right;
    font-weight:bold;
}
.module>div:nth-child(1)>span:hover{
	color:#fff;
}
.module>div:nth-child(2){
	overflow:hidden;
	padding:10px;
}
.rangeBar{ 
	margin:7px 0;
	width:120px;
	height:4px;
	background-color:#7E7E7B;
	background:-moz-linear-gradient(top,#6C6E6E,#808183);
	background:-webkit-gradient(linear,0 0,0 100%,from(#6C6E6E),to(#808183));
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #646464;
	float:left;
}
.rangeBar div{ 
	width:13px;height:15px;background:url(../images/range_cur.png) no-repeat;position:relative;left:-6px;top:-4px;
}

.logform {margin:0 26px}
.logform .tip {overflow:hidden;height:31px;line-height:35px;color:#FFFFFF;word-wrap:break-word;word-break:break-all;white-space:nowrap}
.logform .tip em {color:#f00;background:none;word-wrap:break-word;word-break:break-all}
.logform .frm {margin:0 0 10px 0;*zoom:1}
.logform .frm .txt {width:226px;height:33px;display:block;*zoom:1}
.logform .frm .txt input {font-size:12px;padding:3px 7px;width:213px;margin:1px;height:24px;line-height:24px;outline:0}